body{
    margin: 0px;
}
nav{
    background-color: cadetblue;
    width: 100%;
    height: 80px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 3vw;
   

}

a {
    text-decoration: none;
    color: black;
    margin: 10px;    
}
a:hover{
    color: white;
}