.container-loading{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: space-between;
  width: 80%;
  height: 100px;
  margin-top: 200px;
}
.custom-loader {
  
  width:50px;
  height:12px;
  background: radial-gradient(circle closest-side,white 90%,#b9b90b00) 0 0/33% 100% space;
  clip-path: inset(0 100% 0 0);
  animation:d1 1s steps(4) infinite;
}
h1{
  font-size: 1rem;

}
@keyframes d1 {to{clip-path: inset(0 -34% 0 0)}}